* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 60px;
    background-color: rgb(185 178 165 / 40%);
    border-radius: 0 15px 15px 0;
}


#nav-svg {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.open {
    display: none;
}

.nav_menu {
    display: flex;
    flex-direction: column;
}

.nav_button {
    position: relative;
    border: 1px solid black;
    color: black;
    background-color:rgb(46 48 47 / 26%);
    font-size: 20px;
    padding: 10px 30px 10px 60px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button_svg {
    position: absolute;
    top: 0;
    left: 13px;
    width: 40px;
    height: 40px;
}

.nav_button:hover {
    background-color: rgb(42 83 112 / 45%);
    border: 1px solid whitesmoke;
}

.timer_wrapper {
    display: flex;
}

.timer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color:rgb(49 143 188 / 0.5);
    margin-right: 13px;
    transition: all 0.2s cubic-bezier(0, 1.23, 1, 0.61);
}

.timer:first-of-type {
    background-color:rgb(49 143 188 / 0.3);
}

.timer:last-of-type {
    margin-right: 0;
    background-color:rgb(49 143 188 / 0.7);
    width: 45px;
    height: 45px;
}

.timer:focus {
    outline: none;
}

.timer:hover {
    border: 1px solid snow;
    background-color: snow;
}

.time-input {
    width: 120px;
    height: 40px;
    background-color: rgb(117 143 157);
    margin-top: 10px;
    margin-left: 13px;
    text-align: center;
    align-items: center;
    color: black;
    border-radius: 5px;
    box-shadow: inset 0 0 3px black;
    padding: 5px;
    font-size: 25px;
}
