html {
    box-sizing: border-box;
    width: 100vh;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 20px;

}

.hole {
    margin: 0 5%;
    overflow: hidden;
    position: relative;
    width: 16vw;
    max-width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hole_watter {
    position: absolute;
    width: 95%;
    height: 36px;
    background:linear-gradient(#7d7df4, #c8d1ff, #a6b4e8, #7c86f8, #7d7de5);
    bottom: 2px;
    z-index: 2;
    border-radius: 49%;
    animation: bg 20s infinite alternate;
}

@keyframes bg {
    100% {
        background-position: 0 50px;
      }
}

.hole_img {
    background: url(./img/Underwater.png);
    background-color: transparent;
    width: 50%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 165px;
    position: absolute;
    bottom: -100%;
    z-index: 3;
    transition: all 0.7s;
}

.up .hole_img{
    bottom: -1vw;
}

.hole_item {
    background: black;
    width: 97%;
    height: 50px;

    border: 2px solid black;
    border-radius: 59%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.hole:after {
    content: '';
    display: block;
    width: 99%;
    height: 50px;
    border-bottom: 2px solid black;
    border-radius: 59%;
    position: absolute;
    bottom: 0px;
    z-index: 4;
}

button {
    width: 100px;
    padding: 3px;
    font-size: 30px;
    cursor: pointer;
    color: tomato;
    margin-top: 10px;
    border-radius: 9px;
    font-family: 'Indie Flower', cursive;
}

button:focus {
    outline: none;
}

.score_curr {
    display: block;
    background: tomato;
    border-radius: 9px;
    padding: 10px 0;
    color: white;
    font-size: 40px;
    margin-top: 40px;
    width: 100px;
}

.best {
    position: absolute;
    top: 60px;
    right: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

