@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato-Bold';
    src: url(./fonts/Lato-Bold.ttf);
}

@function vw($size) {
    $screen:1349;

    @return ($size/$screen)*100vw;
}

$lite_color: #F06C64;
$dark_color: #2D303A;

$header_color: #666D89;
$text_color: #767E9E;

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    padding: 30px 40px;
    margin: 0 auto;
    max-width: 1020px;
}

.burger {
    display:none;

    &_label {
        cursor: pointer;
    }
}

#trigger {
    display:none;
}

.header {
    background: $dark_color;
    border-bottom: 6px solid #323746;

    &_wrapper {
    display: flex;
    justify-content: space-between;
    }

    &_new-page {
        background-color: rgba(40, 46, 49, 0.7);
        position: absolute;
        top: 0;
        left: -400px;
        width: 400px;
        height: 400xp;
    }

}

.logo {
    font-size: 25px;
    margin: 0;

    &_star {
        color: $lite_color;
    }
}

.link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;

    &__red:hover {
        color: $lite_color;
        transition: 0.5s;
    }
}

.navigation {
    display: flex;
    align-items: flex-end;
    font-size: 14px;

    &_item {
        padding-left: 20px;
    }
}

.slider {
    background: $lite_color;
    border-bottom: 6px solid #EA676B;
    text-align: center;
    

    &_wrapper {
        position: relative;
        padding-top: 55px;
        padding-bottom: 55px;   
    }

    &_img {
        max-width: 60vw;
        
        &__hor {
            display: none;
        }
    }

    &_arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5vw;

        &__right {
            right: 15px;
        }

        &__left {
            left: 15px;
        }

 
    }
}
.head {
    font-size: 30px;
    color: $header_color;
    margin-top: 30px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: $text_color;
    line-height: 30px;
    margin: 0;
}

.services {
    background: #F2F2F2;
    border-bottom: 6px solid #FFF;

    &_list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
        padding: 60px 0 10px;
    }

    &_item {

        &__pencil::before {
            content: url(./svg/services-item-1.svg);
        }
        &__bulb::before {
            content: url(./svg/services-item-2.svg);
        }
        &__heart::before {
            content: url(./svg/services-item-3.svg);
        }
        &__tab::before {
            content: url(./svg/services-item-4.svg);
        }
        &__dialog::before {
            content: url(./svg/services-item-5.svg);
        }
        &__star::before {
            content: url(./svg/services-item-6.svg);
        }
    }
}

.service {
    position: relative;
    padding-left: 80px;
    margin-bottom: 20px;
    overflow: hidden;
    max-height: 100px;


    &_header {
        font-size: 18px;
        color: $header_color;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &_text {
        font-size: 12px;
        color: $text_color;
        line-height: 22px;
    }

    &::before {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.portfolio {
    background: $dark_color;
    border-bottom: 6px solid #323746;

    &_images {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        margin-top: 6px;
        margin-bottom: 35px;
    }
}

.images {
    text-align: center;

    &_item {
        width: 100%;
    }
}


.filter {
     display: flex;

     &_item {
         color: $text_color;
         font-size: 12px;
         border: 1px solid $text_color;
         border-radius: 5px;
         text-align: center;
         padding: 5px;
         margin-right: 10px;
         cursor: pointer;

         &:active {
            color: #DEDEDE;
            border: 1px solid #DEDEDE;
        }
     }
}

.footer {
    background: $dark_color;

    &_wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: $header_color;
    }

    &_social {
        display: flex;
    }

    &_copyrights {
        align-items: flex-end;
    }
}

.social_item {
    width: 32px;
    height: 32px;
    border: 1px solid $header_color;
    border-radius: 50%;
    margin-left: 8px;
    text-align: center;
    padding-top: 7px;

    &:hover {
        border: rgb(93, 133, 241);
        border: 3px solid rgb(93, 133, 241);
        border-radius: 50%;
        transition: 0.3s;
    }
}

@media (min-width:768px) and (max-width: 1020px) {
    .services_list {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5.5vw;
        padding: 35px 0 30px;
    }

    .portfolio {
        display: flex;
        flex-direction: column;
    
        &_images {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);

        }
}
    

}

@media (max-width: 767px) {
    .header {
        &_nav {
            display: none;
        }

        &_wrapper {
            display: block;
            text-align: center;
            position: relative;
        
        }

        &_burger {
            display: block;
            position: absolute;
            top: 30px;
            left: 20px;
        }

    }

    .services {
       
        &_list {
            grid-template-rows: repeat (6, 1fr);
            grid-template-columns: 1fr;
            grid-gap: 20px;
            padding: 35px 0 0;
        }

        &_item {
            margin-bottom: 0;
        }
    }        

    .portfolio {
        
        &_images {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
       }
    }

    .footer {
        display: flex;

        &_copyrights {
            display: none;
        }
    }
}

@media (max-width: 375px) {
    


  
}
