@font-face {
    font-family: 'Lato';
    src: url(./fonts/Lato-Bold.ttf);
}

$lite_color: #F06C64;
$dark_color: #2D303A;

$header_color: #666D89;
$text_color: #767E9E;

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    padding: 30px 40px;
    margin: 0 auto;
    max-width: 1020px;
}

.header {
    background: $dark_color;
    border-bottom: 6px solid #323746;

    &_wrapper {
    display: flex;
    justify-content: space-between;
    }
}

.logo {
    font-size: 25px;

    &_star {
        color: $lite_color;
    }
}

.link {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;

    &__red:hover {
        color: $lite_color;
        transition: 0.5s;
    }
}

.navigation {
    display: flex;
    align-items: flex-end;

    &_item {
        padding-left: 20px;
    }
}

.slider {
    background: $lite_color;
    border-bottom: 6px solid #EA676B;
    text-align: center;
    

    &_wrapper {
        position: relative;
        padding-top: 55px;
        padding-bottom: 55px;   
    }

    &_img {
        max-width: 100%;
        
        &__hor {
            display: none;
        }
    }

    &_arrow {
        position: absolute;
        top: 45%;

        &__right {
            right: 40px;
        }

        &__left {
            left: 40px;
        }
    }
}

.head {
    font-size: 30px;
    color: $header_color;
    margin-top: 30px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: $text_color;
    line-height: 30px;
    margin: 0;
}

.services {
    background: #F2F2F2;
    border-bottom: 6px solid #FFF;

    &_list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1vw;
        padding: 60px 0 30px;
    }
}

.service {

    &_header {
        font-size: 18px;
        color: $header_color;
    }

    &_text {
        font-size: 12px;
        color: $text_color;
    }
}

.portfolio {
    background: $dark_color;
    border-bottom: 6px solid #323746;

    &_images {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1.6vw;
        margin-top: 6px;
    }
}

.images {


    &_item {
        width: 220px;
        height: 187px;

        &__1 {
            background:url(./img/1.png);
        }
        &__2 {
            background:url(./img/2.png);
        }
        &__3 {
            background: url(./img/3.png);
        }
        &__4 {
            background: url(./img/4.png);
        }
        &__5 {
            background: url(./img/5.png);
        }
        &__6 {
            background: url(./img/6.png);
        }
        &__7 {
            background: url(./img/7.png);
        }
        &__8 {
            background: url(./img/8.png);
        }
        &__9 {
            background:url(./img/9.png);
        }
        &__10 {
            background:url(./img/10.png);
        }
        &__11 {
            background:url(./img/11.png);
        }
        &__12 {
            background: url(./img/12.png);
        }
    }

}

.filter {
     display: flex;

     &_item {
         color: $text_color;
         font-size: 12px;
         border: 1px solid $text_color;
         border-radius: 5px;
         text-align: center;
         padding: 5px;
         margin-right: 10px;
         cursor: pointer;

         &:active {
            color: #DEDEDE;
            border: 1px solid #DEDEDE;
        }
     }
}

.footer {
    background: $dark_color;

    &_wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: $header_color;
    }

    &_social {
        display: flex;
    }

    &_copyrights {
        align-items: flex-end;
    }
}

.social_item {
    width: 32px;
    height: 32px;
    border: 1px solid $header_color;
    border-radius: 50%;
    margin-left: 8px;
}
