button {
    outline: none;
    background:$buttons-collor;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px;
    width: 40px;
    height: 30px;
    font-family: 'Roboto';
    transition: all 0.05s;

    &:active {
        background: $buttons-collor-active;
    }

    &:hover {
        & img {
            animation: rotate .3s ease 1;
        }
    }
}

button img {
    width: 15px;
    height: 15px;
}
